<launch>
  <node name="poslv" pkg="poslv_ros" type="poslv_node" output="screen">
    <param name="device_ip" type="str" value="129.132.39.171"/>
    <param name="device_port" type="int" value="5602"/>
    <param name="retry_timeout" type="double" value="1"/>
    <param name="vns_min_freq" type="double" value="1"/>
    <param name="vns_max_freq" type="double" value="200"/>
    <param name="vnp_min_freq" type="double" value="0.5"/>
    <param name="vnp_max_freq" type="double" value="1"/>
    <param name="dmi_min_freq" type="double" value="1"/>
    <param name="dmi_max_freq" type="double" value="200"/>
  </node>
</launch>
